<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.malpicasoft">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".proveedores.Proveedores"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".clientes.Clientes"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".gastos.Gastos"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ventas.Ventas"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".compras.Compras"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".stock.Stock"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".usuario.Usuario"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.Login"
            android:screenOrientation="locked" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>